html, body { height: 100%; }


:root {
    --text: rgba(0, 0, 0, 0.911);
    --BackgroundWhiteBlack: rgb(253, 252, 252, 0.822);
    --BackgroundBlackWhite: black;
    --border: rgba(245, 243, 39, 0.92);
    --background: url("../assets/img/PETSHOP.jpg");
    --BackgroundYellowBlue: rgba(245, 243, 39, 0.92);
    --BackgroundBlueYellow: #3366ff;
    

}


.dark-mode{
    --text: white;
    --BackgroundWhiteBlack: rgba(0, 0, 0, 0.8);
    --BackgroundBlackWhite: white;
    --border: #3366ff;
    --background: url("../assets/img/DarkModePETSHOP.jpg");
    --BackgroundYellowBlue: #3366ff;
    --BackgroundBlueYellow: rgba(215, 255, 0, 1);
}
#darkmodebutton{
    width: 10%;
    font-size: 100%;
    border-radius: 30px;
    padding: 1%;
}


body{
    background-image: var(--background);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1{
    text-align: center;
}

.ContainerMenuIndex2{
    margin: 30px 30px 0 50px;
    padding: 0 50px;
    background-color: var(--BackgroundWhiteBlack);
    width: 160px;
    text-align: center;
    height: 107px;
    padding-bottom: 150px;
    color: var(--text);
}

.rowSucesso{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContainerSucesso{
    margin: 200px;
    padding: 40px;
    background-color: var(--BackgroundWhiteBlack);
    width: 200px;
    text-align: center;
    height: 107px;
    color: var(--text);
     
}

.ContainerPetNews{
    margin: 30px;
    padding: 50px;
    background-color: var(--BackgroundWhiteBlack);
    width: 500px;
    text-align: left;
    height: 400px;
    padding-bottom: 100px;
    overflow: hidden;
    color: var(--text);
}



.ContainerMenuIndex{
    margin: 30px 0 0 30px;
    padding: 50px;
    background-color: var(--BackgroundWhiteBlack);
    width: 170px;
    text-align: center;
    height: 400px;
    padding-bottom: 100px;
    color: var(--text);
}


.miniContainer{

    padding: 5px;
    width: 100%;
    text-align: left;
    height: 200px;
    overflow-y: auto;
}

.miniContainer2{
    padding: 10px;
    width: 150%;
    text-align: left;
}

#FotoAle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

#FotoTheo{

    height: 80%;
    width: 80%;
}

input{
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;

}

::placeholder{
    color: #000000;
}

.button {
    display: block;
    width: 150px;
    height: 50px;
    background: var(--BackgroundYellowBlue);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: var(--text);
    font-weight: bold;
    line-height: 25px;
    border-color:  #000000;
}
.button:hover {
    background-color: var(--BackgroundYellowBlue);
    color: var(--BackgroundBlueYellow);
}

a {
    text-decoration:none
}

table {

    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    margin: 0 0 20px;

}

th, td {

    padding: 8px;
    text-align: center;
    border-bottom: 1px solid rgb(247, 247, 247);
    color:var(--text);

}

tr:hover {
    background-color: var(--BackgroundYellowBlue);
}

.border {
    border: 3px solid var(--border);
    border-radius: 10px;
}

.containerFormulario{
    margin: 40px;
    padding: 50px;
    background-color: var(--BackgroundWhiteBlack); 
    width: 300px;
    text-align: center;
    height: 400px;
    padding-bottom: 100px;
    color: var(--BackgroundBlackWhite)
}

.container{
    margin: 30px;
    padding: 50px;
    background-color: var(--BackgroundWhiteBlack); 
    width: 800px;
    text-align: center;
    height: 400px;
    overflow-y: auto;
}

.rowStartLeft{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
}

.rowleft{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.row2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

button{
    padding: 0 20px;
    margin-top: 8px;
    border: 3px solid gray;
    border-radius: 30px;
}

